@media (max-width: 435px) {    
    body{
        background-image: url(images/back-mobile.jpg);
         background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    }
    
    .header {
        display: none;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        cursor: pointer;
        display: block;
        position: relative;
        top: -5vw;
        right: 43vw;
        border: none;
        background: transparent;
        width: 30px;
        height: 26px;
    }

    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #0032c9;
    }

    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #0032c9;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

    .burger-checkbox:checked+.burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

    .burger-checkbox:checked+.burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }

    .menu-list {
        top: 11vw;
        left: 0;
        position: absolute;
        display: grid;
        gap: 4.5vw;
        background: #0032c988;
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 24vw;
        height: 45vw;
        border-radius: 1vw;
    }

    .menu-item {
        font-family: "Nunito-normal";
        display: block;
        color: white;
        font-size: 15px;
        font-weight: 800;
        text-align: center;
        text-decoration: none;
        line-height: 5vw;
        padding: 0.5vw;
        margin-top: -8vw;
    }

    .menu-item:hover {
        background: rgba(255, 255, 255, 0.2)
    }

    .burger-checkbox:checked~.menu-list {
        transform: translateX(0);
    }

    p {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Nunito-normal';
        font-weight: 900;
        display: inline-block;
        border-width: 1vw 0vw;
        position: absolute;
        top: 2vw;
        left: 17vw;
    }
    
    p span {
        font-family: "Nunito-normal";
        font-size: 24px;
        font-weight: 900;
        letter-spacing: 1px;
        display: block;
    
        background: url(images/animated-text-fill2.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
    
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 75s linear infinite;
    
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }
    
    @-webkit-keyframes aitf {
        0% {
            background-position: 0% 50%;
        }
    
        100% {
            background-position: 100% 50%;
        }
    }

    .iphone {
        display: none;
    }

    .person3 {
        width: 64vw;
        position: absolute;
        top: 6vw;
        left: 32vw;
        pointer-events: none;
    }
    
    .text2 {
        text-align: right;
        font-family: "Nunito-italic";
        color: #ffffff;
        font-size: 14px;
        word-wrap: normal;
        position: absolute;
        width: 74vw;
        left: 22vw;
        top: 12vw;
    }
    
    .text3 {
        text-align: right;
        font-family: "Nunito-italic";
        color: #ffffff;
        font-size: 14px;
        word-wrap: normal;
        position: absolute;
        width: 74vw;
        left: 22vw;
        top: 35vw;
    }
    
    .text4 {
        text-align: right;
        font-family: "Nunito-italic";
        color: #ffffff;
        font-size: 14px;
        word-wrap: normal;
        position: absolute;
        width: 74vw;
        left: 22vw;
        top: 75vw;
    }
    
    .text_buttonfirst {
        text-align: right;
        text-transform: uppercase;
        font-size: 20px;
        font-family: "Nunito-normal";
        font-weight: 750;
        color: white;
        position: absolute;
        left: 30vw;
        top: 100vw;
        width: 50vw;
    }
    
    .button_first {
        border: 2px solid white;
        border-radius: 100px;
        width: 10vw;
        height: 10vw;
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        position: absolute;
        top: 101vw;
        left: 85vw;
    }
    
    .button_first_ikonka {
        position: absolute;
        top: 5vw;
        right: -0.2vw;
        transform: translateY(-50%);
    }
    
    .first_ikon {
        width: 9vw;
    }
    
    .button_first:hover {
        width: 10vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
    }
    
    .button_first:active {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transition: 0.05s;
    }

    .move-to-second {
        color: #ffffff;
        position: absolute;
        top: 115vw;
        opacity: 0;
        pointer-events: none;
    }
    
    .text5 {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Nunito-normal';
        font-size: 10px;
        font-weight: 900;
        color: #ffffff;
        word-wrap: normal;
        position: absolute;
        left: 16vw;
        top: 115vw;
    }
    
    .text6 {
        text-align: center;
        font-family: "Nunito-italic";
        color: #ffffff;
        font-size: 14px;
        word-wrap: normal;
        position: absolute;
        width: 90vw;
        left: 5vw;
        top: 125vw;
    }
    
    .text7 {
        text-align: center;
        font-family: "Nunito-italic";
        color: #ffffff;
        font-size: 14px;
        word-wrap: normal;
        position: absolute;
        width: 90vw;
        left: 5vw;
        top: 150vw;
    }
    
    .card {
        display: none;
    }
    
    .zenit_mobile {
        display: block;
        width: 50vw;
        position: absolute;
        top: 185vw;
        left: 26vw;
        border: 2px solid white;
        border-radius: 30px;
    }

    .text_card {
        text-align: right;
        text-transform: uppercase;
        font-size: 20px;
        font-family: "Nunito-normal";
        font-weight: 750;
        color: #ffffff;
        position: absolute;
        top: 217vw;
        left: 33vw;
        width: 10vw;
    }
    
    .freebet_ikon {
        width: 7vw;
        position: absolute;
        left: 1vw;
        top: 1.5vw;
    }
    
    .freebet_ikonka {
        border: 2px solid white;
        border-radius: 100px;
        width: 10vw;
        height: 10vw;
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        position: absolute;
        top: 218vw;
        left: 59vw;
    }
    
    .freebet_ikonka:hover {
        width: 10vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
    }
    
    .freebet_ikonka:active {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transition: 0.05s;
    }
    
    .textpodikonka {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-family: "Nunito-normal";
        font-weight: 750;
        color: white;
        position: absolute;
        top: 169vw;
        left: 10vw;
        width: 70vw;
    }
    
    .buttonikonka {
        border: 2px solid white;
        border-radius: 100px;
        width: 10vw;
        height: 10vw;
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        position: absolute;
        top: 170.5vw;
        left: 75vw;
    }
    
    .iconka {
        position: absolute;
        transform: translateY(-50%);
    }
    
    .image1 {
        width: 9vw;
        position: absolute;
    }
    
    .buttonikonka:hover {
        width: 10vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
    }
    
    .buttonikonka:active {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transition: 0.05s;
    }

    .move-to-third {
        color: #ffffff;
        position: absolute;
        top: 235vw;
        opacity: 0;
        pointer-events: none;
    }
    
    .text8 {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Nunito-normal';
        font-size: 10px;
        font-weight: 900;
        color: #ffffff;
        word-wrap: normal;
        position: absolute;
        left: 35vw;
        top: 235vw;
    }
    
    .text9, .text10, .text11, .text12 {
        display: none;
    }
    
.stat-mobile {
    display: block;
    text-align: center;
    list-style:none;
        font-family: "Nunito-italic";
        color: #ffffff;
        font-size: 16px;
        font-weight:700 ;
        word-wrap: normal;
        position: absolute;
        width: 80vw;
        left: 10vw;
        top: 244vw;
        line-height: 5vw;
}

    .person1 {
        width: 48vw;
        position: absolute;
        top: 237vw;
        left: 30vw;
        pointer-events: none;
    }
    
    div.slider {
        display: none;
    }
    
    .textpodikonka2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-family: "Nunito-normal";
        font-weight: 750;
        color: white;
        position: absolute;
        top: 294vw;
        left: 18vw;
        width: 48vw;
    } 
    
    .buttonikonka2 {
        border: 2px solid white;
        border-radius: 100px;
        width: 10vw;
        height: 10vw;
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        position: absolute;
        top: 295.5vw;
        left: 70vw;
    }
    
    .iconka2 {
        position: absolute;
        top: 5vw;
        left: 2vw;
        transform: translateY(-50%);
    }
    
    .image2 {
        width: 6.2vw;
    }
    
    .buttonikonka2:hover {
        width: 10vw;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transition: 0.3s;
    }
    
    .buttonikonka2:active {
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        transition: 0.05s;
    }

    .text13 {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Nunito-normal';
        font-size: 10px;
        font-weight: 900;
        color: #ffffff;
        word-wrap: normal;
        position: absolute;
        left: 32vw;
        top: 315vw;
    }
    
    .wrapper {
        display: none;
    }
    
    .links-mobile {
        position: absolute;
        display:flex;
  font-family: "Nunito-normal";
    font-weight: 800;
    list-style: none;
    }

    .links-mobile .icon {
        position: relative;
        top: 302vw;
        left: 15.5vw;
        padding: 0;
        margin: 2vw;
        background-color: #ffffff;
        width: 10vw;
    height: 10vw;
    border-radius: 30px;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    }

    .tooltip {
        display: none;
    }

    .footer {
        background-color: #000749;
        position: absolute;
        top: 340vw;
        height: 12vw;
        width: 99.9vw;
    }
    
    .textfooter {
        color: #ffffff;
        font-family: "Nunito-normal";
        font-weight: 600;
        width: 100vw;
        text-align: center;
        text-transform: uppercase;
        font-size: 8px;
        position: absolute;
        left: 0vw;
        margin-top: 3vw;
    }
    
    .footer span {
        display: block;
    }
    
    .image3 {
        width: 13vw;
        position: absolute;
        top: -1.5vw;
        right: -1.5vw;
    }
    
    .image4 {
        width: 8vw;
        position: absolute;
        top: 0.1vw;
        left: 0.8vw;
    }
    
    .image5 {
        width: 8vw;
        position: absolute;
        top: 0.8vw;
        left: 0.8vw;
    }
    
    .image6 {
        width: 9vw;
        position: absolute;
        top: 0.9vw;
        left: 0.1vw;
    }
    
    .image7 {
        width: 7vw;
        position: absolute;
        top: 1.5vw;
        left: 1.5vw;
    }

}

@media (max-width: 1024px) {}

@media (max-width: 1200px) {}